.burger {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 24px;
  height: 14px;

  &__line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $color-default-white;
    transition: $trans-default;
  }

  &__line--first {
    top: 0;
  }

  &__line--second,
  &__line--third {
    top: 6px;
  }

  &__line--fourth {
    bottom: 0;
  }
}

.burger__line--first,
.burger__line--fourth {
  opacity: 0;
}

.main-nav--closed .burger__line--first,
.main-nav--closed .burger__line--fourth {
  opacity: 1;
}

.burger__line--second {
  transform: rotate(45deg);
}

.burger__line--third {
  transform: rotate(-45deg);
}

.main-nav--closed .burger__line--second,
.main-nav--closed .burger__line--third {
  transform: rotate(0);
}
