.main-nav {
  width: 100%;
  position: relative;

  @include vp-1023 {
    display: flex;
    flex-direction: row-reverse;

    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
  }

  &__header {
    display: none;

    @include vp-1023 {
      display: block;
      margin: 0;
      font-weight: 400;
      font-size: 28px;
      line-height: 32px;
      color: $color-black-russian;

      position: absolute;
      top: 23px;
      left: 23px;
    }

    @include vp-767 {
      left: 12px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    transition: $trans-default;

    @include vp-1023 {
      position: absolute;
      width: 39%;
      height: 100vh;
      right: 0;
      top: 50px;
      background-color: $color-default-white;

      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: flex-end;
      padding-top: 100px;

      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background: $color-pattens-blue;
        left: 0;
        top: 130px;
      }
    }

    @include vp-767 {
      width: 100%;
      padding-top: 27px;

      &::before {
        display: none;
      }
    }
  }

  &__menu-one {
    .container {
      display: flex;
      align-items: center;

      @include vp-1023 {
        flex-direction: column-reverse;
        align-items: flex-start;
      }
    }

    display: flex;
    align-items: center;
    background-color: $color-black-russian;
    min-height: 40px;

    @include vp-1023 {
      background-color: $color-transparent;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 5%;

    @include vp-1279 {
      margin-left: 3%;
    }

    @include vp-1023 {
      margin-left: 0;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item {
    position: relative;
    margin-right: 50px;

    @include vp-1023 {
      margin-bottom: 20px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 20px;
      top: 50%;
      transform: translateY(-50%);
      right: -20px;
      background: $color-default-white;
      opacity: 0.1;
    }

    &:last-of-type {
      margin-right: 0;

      &::before {
        display: none;
      }
    }
  }

  &__link {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $color-default-white;
    opacity: 0.8;
    transition: $trans-default;

    &.is-active {
      opacity: 0.6;
    }

    @include vp-1023 {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: $color-black-russian;
      opacity: 1;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }

  &__search {
    width: 273px;
    margin-left: auto;

    @include vp-1023 {
      width: 92%;
      position: absolute;
      top: 70px;
    }

    @include vp-767 {
      width: 69%;
      top: 25px;
      right: -53px;
    }

    input {
      width: inherit;
      min-height: 30px;
      border: 0 solid $color-transparent;
      border-radius: 5px;
      color: $color-default-white;
      padding-left: 10px;

      background-color: $color-valhalla;

      &::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $color-default-white;
        opacity: 0.5;

        @include vp-1023 {
          color: $color-black-russian;
          opacity: 0.5;
        }
      }

      @include vp-1023 {
        color: $color-black-russian;
        background-color: $color-ghost-white;
      }
    }

    label {
      position: relative;
      width: inherit;

      button {
        cursor: pointer;
        padding: 0;
        position: absolute;
        width: 14px;
        height: 14px;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        background: $color-transparent;
        border: none;
        outline: none;

        svg {
          fill: none;
          color: $color-default-white;
          opacity: 0.5;
          transition: $trans-default;

          @include vp-1023 {
            color: $color-black-russian;
          }
        }

        @media (hover: hover), screen and (min-width: 0\0) {
          &:hover,
          &:focus {
            svg {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &__menu-two {
    display: flex;
    align-items: center;
    min-height: 61px;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);

    @include vp-1023 {
      box-shadow: none;
      padding-top: 55px;
    }

    .container {
      display: grid;
      grid-template-columns: 1fr 28.1% 11%;
      align-items: center;

      @include vp-1023 {
        grid-template-columns: 100%;
        align-items: flex-start;
      }
    }
  }

  &__other {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    display: flex;

    @include vp-1023 {
      flex-direction: column;
    }
  }

  &__other-item {
    display: flex;
    align-items: center;

    @include vp-1023 {
      margin-bottom: 20px;
    }

    &:last-of-type {
      .main-nav__other-link {
        margin-right: 0;
      }
    }

    &.accordion {
      position: relative;

      .main-nav__other-content {
        position: absolute;

        @include vp-1023 {
          position: relative;
        }
      }
    }
  }

  &__other-link {
    outline: none;
    border: none;
    background: $color-transparent;
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
    margin-right: 40px;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: $color-black-russian;
    transition: $trans-default;

    @include vp-1023 {
      font-size: 16px;
      line-height: 20px;

      &:hover,
      &:focus,
      &:active {
        color: $color-dodger-blue;
      }
    }

    svg {
      fill: none;
      transform: rotate(180deg);
      margin-left: 5px;

      &:last-of-type {
        display: none;
      }

      @include vp-1023 {
        &:last-of-type {
          display: block;
        }

        &:first-of-type {
          display: none;
        }
      }
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus,
      &:active {
        color: $color-dodger-blue;
      }
    }
  }

  .is-active {
    .main-nav__other-link svg {
      transform: rotate(0);
    }
  }

  &__other-content {
    background: $color-default-white;
    border: 0 solid $color-transparent;
    border-radius: 5px;

    position: absolute;
    top: 44px;
    left: -18px;
    z-index: 10;

    filter: drop-shadow(0px 60px 96px rgba(0, 0, 0, 0.00719002))
      drop-shadow(0px 30.0293px 48.0469px rgba(0, 0, 0, 0.0104523))
      drop-shadow(0px 18.0882px 28.9412px rgba(0, 0, 0, 0.0128732))
      drop-shadow(0px 11.5919px 18.547px rgba(0, 0, 0, 0.015))
      drop-shadow(0px 7.51293px 12.0207px rgba(0, 0, 0, 0.0171268))
      drop-shadow(0px 4.72931px 7.56689px rgba(0, 0, 0, 0.0195477))
      drop-shadow(0px 2.71728px 4.34765px rgba(0, 0, 0, 0.02281))
      drop-shadow(0px 1.19595px 1.91351px rgba(0, 0, 0, 0.03));

    @include vp-1023 {
      display: block;
      position: relative;
      top: auto;
      left: auto;
      border: none;
      filter: none;
    }
  }

  &__other-list {
    list-style: none;
    padding: 20px 0;
    margin: 0;
    min-width: 165px;
    min-height: 96px;
    height: fit-content;
  }

  &__other-inner-item {
    width: 100%;
    cursor: pointer;

    padding-top: 10px;
    padding-bottom: 10px;
    transition: $trans-default;

    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $color-black-russian;
      opacity: 0.8;
      padding-left: 20px;
      transition: $trans-default;

      @include vp-1023 {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
      }
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        background-color: $color-alice-blue;
        a {
          color: $color-dodger-blue;
        }
      }
    }
  }

  &__contacts {
    position: relative;

    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin-left: auto;

    @include vp-1023 {
      position: absolute;
      top: -44px;
      left: -22%;
      align-items: center;

      &::before {
        position: absolute;
        content: "";
        width: 1px;
        height: 36px;
        background: $color-black-russian;
        opacity: 0.1;
        top: 50%;
        transform: translateY(-50%);
        right: -16px;

        @include vp-767 {
          width: 100%;
          height: 1px;

          top: -20px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    @include vp-767 {
      top: auto;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 0 16px;

      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__call {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include vp-767 {
      align-items: flex-start;
    }
  }

  &__phone {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $color-black-russian;
    margin-bottom: 5px;
    transition: $trans-default;

    @include vp-1023 {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 2px;
    }

    @include vp-767 {
      font-weight: 600;
      font-size: 22px;
      line-height: 32px;
      color: $color-dodger-blue;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        color: $color-dodger-blue;
      }
    }
  }

  &__phone-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $color-black-russian;
    opacity: 0.5;
    padding: 0;
    margin: 0;

    @include vp-1023 {
      font-size: 12px;
      line-height: 18px;
    }

    @include vp-767 {
      padding-bottom: 20px;
    }
  }

  &__social-list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
  }

  &__social-item {
    line-height: 0;
    transition: $trans-default;

    svg {
      transition: $trans-default;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        svg {
          color: $color-dodger-blue;
        }
      }
    }
  }

  &__basket {
    margin-left: auto;

    a {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      svg {
        color: $color-dodger-blue;
        fill: none;
        margin-right: 5px;
      }
    }

    @include vp-1023 {
      position: absolute;
      top: -38px;
      left: 45%;
    }

    @include vp-767 {
      left: auto;
      right: 60px;

      span {
        display: none;
      }
    }
  }

  &__toggle {
    display: none;
    padding: 0;

    @include vp-1023 {
      display: block;
      border: none;
      outline: none;
      position: relative;
      width: 50px;
      height: 50px;
      background-color: $color-dodger-blue;
      cursor: pointer;
    }
  }

  &--closed {
    @include vp-1023 {
      .main-nav__wrapper {
        padding: 0;
        height: 0;
        transition: $trans-default;

        &::before {
          display: none;
        }
      }

      .main-nav__header,
      .main-nav__list,
      .main-nav__search,
      .main-nav__other {
        display: none;
      }
    }

    @include vp-767 {
      .langs,
      .main-nav__contacts {
        display: none;
      }

    }
  }
}
